.flag_box {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.flag_month_day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.fb_time {
}

.fb_name {
  width: 100px;
  text-align: center;
}

.fb_btn {
  padding-left: 30px;
}
